<div class="container">
  <div class="section">
    
  
    <p style="color: green"><%= notice %></p>


    <div id="articles" class="box">
      <% @articles.each do |article| %>
        <%= link_to article, class:"has-text-black" do %>
          <%= render article %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
