<div class="container">
  <div class="section">
    

    <%= turbo_frame_tag Article.new %>

    <%= turbo_frame_tag 'articles', class: "column box is-three-fifths is-offset-one-fifth" do %>
      <%= render @articles %>
    <% end %>

  </div>
</div>
