<div class="media">
  
  <div class="media-left">
    <figure class="image is-64x64">
      <%= image_tag rails_storage_proxy_path(user.avatar), class: "is-rounded" %>
    </figure>
  </div>

  <div class="media-content">
    <p class="title is-5 is-family-monospace">@<%= user.username %></p>
  </div>

</div> 
