<%= link_to article,
  data: { turbo_frame: "articles"},
  class: "level-item" do %>
  <span class="icon is-small"><i class="fas fa-reply"></i></span>
<% end %>

<a class="level-item">
  <span class="icon is-small"><i class="fas fa-retweet"></i></span>
</a>

<% if user_signed_in? %>
  <%= render "articles/show/buttons/likes_signed", article: article %>
<% else %>
  
<% end %>
